#leftAnchorPane {
    -fx-background-image: url("/com/example/bednovac/images/left.jfif");
        -fx-background-size: cover;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
}

#rightAnchorPane {
    -fx-background-image: url("/com/example/bednovac/images/right-panel-background.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button {
     -fx-background-color: #0074D9;
     -fx-text-fill: whitesmoke;
     -fx-background-radius: 35px;
     -fx-border-radius: 20px;
     -fx-padding: 10px 20px;
}

.button:hover {
      -fx-background-color: #005fa3;
        -fx-cursor: hand;
}

.button:pressed {
      -fx-background-color: #004080;
}

.text-field {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.text-field:focused {
    -fx-border-color: #0074D9;
    -fx-border-width: 2px;
}

#resultPane{
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 15px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 5);
}